
@{
    ViewData["Title"] = "PesquisarPlaca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PesquisarPlaca</h1>

<form method="get" action="@Url.Action("PesquisarPlaca")">
    <input type="text" name="filtro" placeholder="Filtrar por placa">
    <button type="submit">Filtrar</button>
</form>